# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs
logs/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore the entire Studies folder
Studies/

# Keep data folder, but ignore its contents
/data/*

# Ignore environment files
.env
venv/
