# ----------------------------
# Python cache files
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------------
# Logs
# ----------------------------
logs/

# ----------------------------
# Jupyter notebook checkpoints
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# System files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Studies folder
# ----------------------------
Studies/

# ----------------------------
# Data folder: keep folder, ignore content
# ----------------------------
/data/*
!/data/.gitkeep

# ----------------------------
# Environment files
# ----------------------------
.env
venv/
